@charset "utf-8";

/***********폰트 본고딕 노토산스 ***************/
@import url(//fonts.googleapis.com/earlyaccess/notosanskr.css);
body        { font: 'Noto Sans CJK KR', Noto Sans KR, sans-serif }
.thin       { font-weight: 100 }
.light      { font-weight: 300 }
.regular    { font-weight: 400 }
.medium     { font-weight: 500 }
.bold       { font-weight: 700 }
.black     { font-weight: 900 }

@font-face {
    font-family: 'Jalnan';
    src: url(/font/Jalnan.ttf);
}

*{margin:0;padding:0}
html,body{width:100%;height:100%;-webkit-font-smoothing: antialiased !important;}
html{overflow-y:scroll;overflow-x: hidden;font-family:"Noto Sans KR", sans-serif;}
body{*word-break:break-all;-ms-word-break:break-all;font-family:"Noto Sans KR", dotum,sans-serif;}
body{-ms-overflow-style: none;}
body::-webkit-scrollbar {display: none !important;}
body,h1,h2,h3,h4,h5,h6,th,td,input,textarea,select,option{font-family:"Noto Sans KR", sans-serif;font-size:13px;font-weight:400}
img,fieldset,iframe{border:0 none}
ul,ol,li{list-style:none}
em,address{font-style:normal}
img,input,select,textarea{vertical-align:middle}
a{color:#555;text-decoration:none;cursor:pointer}
a:hover{color:#555; text-decoration:none}
button,label{cursor:pointer;_cursor /**/:hand}
button *{position:relative}
button img{}
textarea{overflow:auto}
html:first-child select{height:20px;padding-right:6px}
option{padding-right:6px}
.input_text, textarea{*margin:-1px 0;padding-right:1px}
.input_check, .input_radio{width:13px;height:13px}
.blind, legend, caption{text-indent:-9999px;font-size:0;line-height:0;overflow:hidden}
hr{display:none}
legend{*width:0}
:root legend{margin-top:-1px;font-size:0;line-height:0}
caption{*line-height:0}
/*.clear {clear:both;}*/
.clear:after {
	clear:both;
	content: "";
	display:block;
}
#bg,
#menu_bg{
	position:fixed; left:0; top:0;
	width:100%; height:100%;
	background:rgba(0,0,0,0.7);
	display:none; z-index:100;
	}


#wrap {/*width:100%;*/ position:relative;}
#contents {width:calc(100% - 90px); box-sizing:border-box; margin-left:90px; position:relative; }


/* header */

#header{height:100%;-webkit-box-sizing:border-box;box-sizing:border-box;position:fixed;top:0;left:0;z-index:102}
#header .gnb{width:90px;height:100%;border-right:1px solid #e5e5e5;background:#fff;-webkit-box-sizing:border-box;box-sizing:border-box;text-align:center;position:relative;background:#fff}
#header .gnb h1{position:absolute;top:40px;left:27px}
#header .gnb .ico_menu{width:100%;position:absolute;left:0;bottom:40px}
#header .gnb .ico_menu ul li{margin-bottom:17px;text-align:center}
#header .gnb .ico_menu ul li:last-child{margin-bottom:0}
#all_menu{position:fixed;left:-100%;top:0;z-index:101;height:100%;display:block}
#all_menu .menu ul li{cursor:pointer;-webkit-box-sizing:border-box;box-sizing:border-box;position:relative}
#all_menu .menu ul li a{display:block}
#all_menu .menu ul li a dl dt{position:relative;font-size:20px;color:#333;font-weight:500}
#all_menu .menu ul [aria-expanded="true"] a dt{margin-bottom:10px}
/* #all_menu .menu ul li a dl dt:after{content:"";display:inline-block;position:absolute;top:-2px;right:0;opacity:1} */
#all_menu .menu ul li a dl dd{position:relative;font-size:16px;letter-spacing:.1px;color:#666;font-family:"Noto Sans KR";padding-left:12px;margin-bottom:5px}
#all_menu .menu ul li a dl dd:before{content:"-";display:inline-block;position:absolute;left:0;top:0}
#all_menu .menu1{background:#fff;width:300px;height:100%;-webkit-box-sizing:border-box;box-sizing:border-box;border-right:1px solid #e5e5e5;position:absolute;top:0;left:90px;bottom:0;overflow-y:auto}
#all_menu .menu1 ul li{padding:25px 40px;border-bottom:1px solid #e5e5e5}
#all_menu .menu ul li:hover{background:#f0f0f0}


/* #all_menu .menu1 ul .l1{padding:45px 40px 25px} */
#all_menu .menu1 ul .l7{padding:25px 40px;border-bottom: 1px solid #e5e5e5;}
/* #all_menu .menu1 ul .l1 a dl dt:after{width:31px;height:32px;background:url(../images/common/all_menu1_ico1.png) no-repeat center}
#all_menu .menu1 ul .l2 a dl dt:after{width:36px;height:31px;background:url(../images/common/all_menu1_ico2.png) no-repeat center}
#all_menu .menu1 ul .l3 a dl dt:after{width:37px;height:31px;background:url(../images/common/all_menu1_ico3.png) no-repeat center}
#all_menu .menu1 ul .l4 a dl dt:after{width:31px;height:29px;background:url(../images/common/all_menu1_ico4.png) no-repeat center}
#all_menu .menu1 ul .l5 a dl dt:after{width:45px;height:24px;background:url(../images/common/all_menu1_ico5.png) no-repeat center;top:2px}
#all_menu .menu1 ul .l6 a dl dt:after{width:28px;height:30px;background:url(../images/common/all_menu1_ico6.png) no-repeat center}
#all_menu .menu1 ul .l7 a dl dt:after{width:35px;height:33px;background:url(../images/common/all_menu1_ico7.png) no-repeat center} */
#all_menu .menu2{background:#f7f7f7;width:260px;height:100%;-webkit-box-sizing:border-box;box-sizing:border-box;position:absolute;top:0;left:390px;bottom:0}
#all_menu .menu2 ul{width:90%;position:absolute;bottom:80px;left:50%;margin-left:-45%}
#all_menu .menu2 ul li{padding:30px;border:1px solid #c6c6c6}
#all_menu .menu2 ul .l1{margin-bottom:5px}
/* #all_menu .menu2 ul .l1 a dl dt:after{width:26px;height:26px;background:url(../images/common/all_menu2_ico1.png) no-repeat center}
#all_menu .menu2 ul .l2 a dl dt:after{width:27px;height:26px;background:url(../images/common/all_menu2_ico2.png) no-repeat center} */
#all_menu .menu ul li span[class*='item']{position:absolute;top:0;right:0}
#all_menu .menu ul li.l1 span[class*='item2']{top:12px;-webkit-transform:translateX(15px) rotate(90deg);transform:translateX(15px) rotate(90deg)}
#all_menu .menu ul li.l1:hover span[class*='item2']{-webkit-transform:translateX(0px) rotate(0deg);transform:translateX(0px) rotate(0deg);-webkit-transition:.6s;transition:.6s}
#all_menu .menu ul li span.icon{position:absolute;right:40px;}
#all_menu .menu ul li:hover span.icon{opacity:1}
/* #all_menu .menu1 ul li:hover a dl dt:after{opacity:0}
#all_menu .menu ul li.l4:hover a dl dt:after{opacity:1} */
#all_menu .menu ul li.l3 span[class*='item2']{top:-20px;right:0}
#all_menu .menu ul li.l3 span[class*='item1']{top:-20px;right:0}
#all_menu .menu ul li.l3:hover span[class*='item2']{-webkit-transform:rotate(0deg);transform:rotate(0deg);-webkit-transition:.6s;transition:.6s}
#all_menu .menu ul li.l3 span[class*='item2']{-webkit-transform:rotate(180deg);transform:rotate(180deg)}
#all_menu .menu ul li.l6 span[class*='item1']{top:-20px}
#all_menu .menu ul li.l6 span[class*='item2']{top:-9px;-webkit-transform:translateY(-8px);transform:translateY(-8px)}
#all_menu .menu ul li.l6:hover span[class*='item2']{-webkit-transform:translateY(0px);transform:translateY(0px);-webkit-transform:translateY(0px);transform:translateY(0px);-webkit-transition:.5s;transition:.5s}
#all_menu .menu ul li.l7 span[class*='item1']{top:-20px}
#all_menu .menu ul li.l7 span[class*='item2']{top:-20px;right:4px;-webkit-transform:translate(15px,1px);transform:translate(15px,1px);z-index:-1}
#all_menu .menu ul li.l7:hover span[class*='item2']{-webkit-transform:translate(0px);transform:translate(0px);-webkit-transition:.6s;transition:.6s}
#all_menu .menu ul li.l2 span[class*='item1']{top:-15px}
#all_menu .menu ul li.l2 span[class*='item2']{top:-28px;right:13px;-webkit-transform:translateY(10px);transform:translateY(10px);z-index:-1}
#all_menu .menu ul li.l2:hover span[class*='item2']{-webkit-transform:translateY(0px);transform:translateY(0px);-webkit-transition:.6s;transition:.6s}
#all_menu .menu ul li.l5 span[class*='item1']{top:-20px}
#all_menu .menu ul li.l5 span[class*='item2']{top:-6px;-webkit-transform:translateY(10px);transform:translateY(10px);opacity:0}
#all_menu .menu ul li.l5:hover span[class*='item2']{-webkit-transform:translateY(0px);transform:translateY(0px);opacity:1;-webkit-transition:.6s;transition:.6s}
#footer{width:calc(100% - 90px);-webkit-box-sizing:border-box;box-sizing:border-box;margin-left:90px;position:relative;background:#222}
#footer .wrap{padding:48px 40px 55px;-webkit-box-sizing:border-box;box-sizing:border-box;position:relative;}
#footer .wrap:after{clear:both;display:block;content:''}
#footer .wrap .foot_logo{float:left}
#footer .wrap .info{float:left;margin-left:35px}
#footer .wrap .info .address{width:960px;margin-top:14px}
#footer .wrap .info ul{font-size:0}
#footer .wrap .info li{display:inline-block;vertical-align:top;position:relative}
#footer .wrap .info .address li{font-size:15px}
#footer .wrap .info .foot_menu li a{color:rgba(255,255,255,0.6);letter-spacing:-.6px;line-height:16px;font-size:16px}
#footer .wrap .info .address li{color:rgba(255,255,255,0.6);letter-spacing:-.4px;line-height:1.6;font-size:15px;font-weight:300}
#footer .wrap .info .address li a{color:inherit}
#footer .wrap .info li + li:before{content:'';width:1px;height:10px;background:#424242;position:absolute;top:3px;left:-8px}
#footer .wrap .info li + li{margin-left:19px}
#footer .wrap .info li:nth-child(6):before{display:none}
#footer .wrap .info li:nth-child(6){margin-left:0}
#footer .wrap .info small.copy{font-size:14px;color:rgba(255,255,255,0.6);letter-spacing:-.2px;font-weight:300;display:block;margin-top:9px}


#footer .wrap div.foot_select_site {
    width: 240px;
    position:absolute;
    top: 48px;
    right: 40px;
}
#footer .wrap div.foot_select_site:after {
    content: '';
    clear: both;
    display: block;
}
#footer .wrap div.foot_select_site h2 {
    width: 100%;
    height: 40px;
    text-align: left;
    line-height: 38px;
    border: 1px solid #4e4e4e;
    box-sizing: border-box;
    font-size: 14px;
    font-weight: 300;
    position: relative;
}
#footer .wrap div.foot_select_site h2 a {
    display: block;
    padding: 0 20px;
    box-sizing: border-box;
    color: rgba(255, 255, 255, 0.6);
}
#footer .wrap div.foot_select_site ul.list {
    position: absolute;
    bottom: 100%;
    left: 0;
    background: #373737;
    width: 100%;
    z-index: 10;
    text-align: left;
    font-size: 14px;
    border: 1px solid #4e4e4e;
    border-bottom: none;
    box-sizing: border-box;
    display: none;
}
#footer .wrap div.foot_select_site ul.list li {
    padding: 11px 0;
    padding-left: 20px;
    color: #fff;
    font-weight: 300;
    box-sizing: border-box;
}
#footer .wrap div.foot_select_site ul.list li a {
    display:block;
    color: rgba(255, 255, 255, 0.6);
}
#footer .wrap div.foot_select_site h2:before {
    content: '';
    position: absolute;
    width: 9px;
    height: 5px;
    background: url(../images/common/foot_site_arrow.png) no-repeat;
    top: 17px;
    right: 18px;
    transition: 0.3s .15s cubic-bezier(0.2, 1.1, 0.49, 1.26);
}
#footer .wrap div.foot_select_site h2.on:before {
    transform: rotate(180deg);
}




.all_nav_btn{width:30px;height:21px;-webkit-box-sizing:border-box;box-sizing:border-box;z-index:101;cursor:pointer;position:absolute;top:50%;margin-top:-10.5px;left:30px}
.menu-trigger,.menu-trigger span{display:inline-block;-webkit-box-sizing:border-box;box-sizing:border-box}
.menu-trigger span{position:absolute;width:100%;height:3px;background-color:#000}
.menu-trigger.active span{background:#000}
.menu-trigger span.n1{top:0;left:0}
.menu-trigger.active span.n1{top:5px}
.menu-trigger span.n2{top:9px;left:0}
.menu-trigger span.n3{width:16px;bottom:0;left:0}
.menu-trigger span.n1{-webkit-animation:menu-bar01 .75s forwards;animation:menu-bar01 .75s forwards}
@-webkit-keyframes menu-bar01 {
0%{-webkit-transform:translateY(8.5px) rotate(45deg);transform:translateY(8.5px) rotate(45deg)}
50%{-webkit-transform:translateY(8.5px) rotate(0);transform:translateY(8.5px) rotate(0)}
100%{-webkit-transform:translateY(0) rotate(0);transform:translateY(0) rotate(0)}
}
@keyframes menu-bar01 {
0%{-webkit-transform:translateY(8.5px) rotate(45deg);transform:translateY(8.5px) rotate(45deg)}
50%{-webkit-transform:translateY(8.5px) rotate(0);transform:translateY(8.5px) rotate(0)}
100%{-webkit-transform:translateY(0) rotate(0);transform:translateY(0) rotate(0)}
}
.menu-trigger span.n2{-webkit-transition:all .25s;transition:all .25s;opacity:1}
.menu-trigger span.n3{-webkit-animation:menu-bar02 .75s forwards;animation:menu-bar02 .75s forwards}
@-webkit-keyframes menu-bar02 {
0%{-webkit-transform:translateY(-9px) rotate(-45deg);transform:translateY(-9px) rotate(-45deg)}
50%{-webkit-transform:translateY(-9px) rotate(0);transform:translateY(-9px) rotate(0)}
100%{-webkit-transform:translateY(0) rotate(0);transform:translateY(0) rotate(0)}
}
@keyframes menu-bar02 {
0%{-webkit-transform:translateY(-9px) rotate(-45deg);transform:translateY(-9px) rotate(-45deg)}
50%{-webkit-transform:translateY(-9px) rotate(0);transform:translateY(-9px) rotate(0)}
100%{-webkit-transform:translateY(0) rotate(0);transform:translateY(0) rotate(0)}
}
.menu-trigger.active span.n1{-webkit-animation:active-menu-bar01 .75s forwards;animation:active-menu-bar01 .75s forwards}
@-webkit-keyframes active-menu-bar01 {
0%{-webkit-transform:translateY(0) rotate(0);transform:translateY(0) rotate(0)}
50%{-webkit-transform:translateY(2px) rotate(0);transform:translateY(2px) rotate(0)}
100%{-webkit-transform:translateY(7px) rotate(45deg);transform:translateY(7px) rotate(45deg)}
}
@keyframes active-menu-bar01 {
0%{-webkit-transform:translateY(0) rotate(0);transform:translateY(0) rotate(0)}
50%{-webkit-transform:translateY(2px) rotate(0);transform:translateY(2px) rotate(0)}
100%{-webkit-transform:translateY(7px) rotate(45deg);transform:translateY(7px) rotate(45deg)}
}
.menu-trigger.active span.n2{opacity:0}
.menu-trigger.active span.n3{-webkit-animation:active-menu-bar03 .75s forwards;animation:active-menu-bar03 .75s forwards;width:100%;bottom:1px}
@-webkit-keyframes active-menu-bar03 {
0%{-webkit-transform:translateY(0) rotate(0);transform:translateY(0) rotate(0)}
50%{-webkit-transform:translateY(-5px) rotate(0);transform:translateY(-5px) rotate(0)}
100%{-webkit-transform:translateY(-5px) rotate(-45deg);transform:translateY(-5px) rotate(-45deg)}
}
@keyframes active-menu-bar03 {
0%{-webkit-transform:translateY(0) rotate(0);transform:translateY(0) rotate(0)}
50%{-webkit-transform:translateY(-5px) rotate(0);transform:translateY(-5px) rotate(0)}
100%{-webkit-transform:translateY(-5px) rotate(-45deg);transform:translateY(-5px) rotate(-45deg)}
}

/* video popup */
#video-popup{display:none;position:fixed;top:50%;left:50%;z-index:2000;-webkit-transform:translate(-50%,-50%);transform:translate(-50%,-50%)}
#video-popup .popup-close{text-align:right;margin-bottom:10px;cursor:pointer}
#video-popup iframe{width:1080px!important;height:608px!important}

#text-popup{display:none;position:fixed;top:50%;left:50%;z-index:2000;-webkit-transform:translate(-50%,-50%);transform:translate(-50%,-50%)}
#text-popup .popup-close{text-align:right;margin-bottom:10px;cursor:pointer}
#text-popup .inner{width:1260px;height:800px;background:#fff;padding-top: 92px;box-sizing: border-box;}

#text-popup .inner h1 {
    text-align: center;
    font-size: 28px;
    font-weight: 600;
    color: #111;
    line-height: 28px;
}

#text-popup .inner pre {
    width: 1160px;
    margin: 0 auto;
    height: 600px;
    white-space: pre-wrap;
    overflow-y: scroll;
    box-sizing: border-box;
    border: 1px solid #e9e9e9;
    font-family: 'Noto Sans KR';
    font-size: 17px;
    color: #666;
    padding: 75px 58px 0;
    margin-top: 28px;
}

#text-popup .inner pre table {border-collapse: collapse;max-width: 90%;}

#text-popup .inner pre table td, #text-popup .inner pre table th {
    border: 1px solid #000;
    padding: 2px;
}


/* popup */
.pop_today_close{padding:1px 7px 3px 7px;color:#ffffff;background:#303030;vertical-align:middle;border:0px;}
.pop_close{padding:1px 7px 3px 7px;color:#ffffff;background:#303030;vertical-align:middle;border:0px;}
.msg_sound_only, .sound_only {display:inline-block !important;position:absolute;top:0;left:0;margin:0 !important;padding:0 !important;font-size:0;line-height:0;border:0 !important;overflow:hidden !important}
