/*---------------------------------------------*/
button {
    outline: none !important;
    border: none;
    background: transparent;
}

button:hover {
    cursor: pointer;
}

input {
    outline: none;
    border: none;
}

textarea {
    outline: none;
    border: none;
}

textarea:focus,
input:focus {
    border-color: transparent !important;
}

p {
    margin: 0;
}

ol,
ul {
    padding-left: 0;
}

/* 테이블 하위 전체 속성 CSS */
.table>:not(caption)>*>* {
    padding: 13px 20px 14px;
    background-color: var(--bs-table-bg);
    border-bottom-width: 1px;
    box-shadow: inset 0 0 0 9999px var(--bs-table-accent-bg);
    font-size: 16px;
    font-weight: 500;
}

/* 페이징 관련 CSS */
.page-item.active .page-link {
    z-index: 3;
    color: #fff;
    background-color: #fc8049;
    border-color: #fc8049;
}

.page-link {
    color: #fc8049;
}

.page-link:hover {
    color: #fc8049;
}

/* 설정페이지 전체 레이아웃 CSS */
#all_menu .menu ul li a div {
    position: relative;
    font-size: 18px;
    color: #333;
    font-weight: 400;
}

#section6 {
    width: 100%;
    height: 100%;
    background-color: #eff0f5;
    position: relative;
    display: flex;
    align-items: center;
    flex-direction: column;
    overflow: hidden;
}

.settings_content1 {
    width: 100%;
    box-sizing: border-box;
    height: 12%;

    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    padding: 0px 40px 0px 40px;
}

.settings_content1 p {
    font-size: 36px;
    font-weight: 600;
    color: #fc8049;
    border-bottom: 2px solid rgb(226, 226, 226);
    padding: 20px;
}

.settings_content1_notice {
    box-sizing: border-box;
    background-color: white;
    height: 75%;
    margin-bottom: 15px;
    box-shadow: 2px 2px 2px 2px rgb(230, 230, 230);
    /* box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23); */
    display: flex;
    flex-direction: column;
}

.settings_content1_notice p {
    font-size: 24px;
    font-weight: 600;
    color: black;
    padding: 30px;
}

.settings_content1_event {
    background-color: white;
    height: 25%;
    margin-top: 15px;
    box-shadow: 2px 2px 2px 2px rgb(230, 230, 230);
}

.settings_content1_event p {
    font-size: 24px;
    font-weight: 600;
    color: black;
    padding: 20px 20px 10px 20px;
}

.settings_content2 {
    width: 100%;
    box-sizing: border-box;
    height: 88%;

    display: flex;
    justify-content: center;
    align-items: center;
    padding: 40px;
}

.settings_content2_item1 {
    width: 65%;
    box-sizing: border-box;
    height: 100%;
    margin-right: 20px;
    display: flex;
    flex-direction: column;
}

.settings_content2_item2 {
    width: 35%;
    box-sizing: border-box;
    height: 100%;
    margin-left: 20px;
    display: flex;
    flex-direction: column;
}

.settings_content2_push {
    background-color: white;
    height: 50%;
    margin-bottom: 15px;
    box-shadow: 2px 2px 2px 2px rgb(230, 230, 230);
    display: flex;
    justify-content: center;
}

.settings_content2_push p {
    font-size: 24px;
    font-weight: 600;
    color: black;
    padding: 20px;
}

.settings_content2_faq {
    background-color: white;
    height: 50%;
    margin-top: 15px;
    box-shadow: 2px 2px 2px 2px rgb(230, 230, 230);
}

.settings_content2_faq p {
    font-size: 24px;
    font-weight: 600;
    color: black;
    padding: 20px;
}

/* .settings_content3 {
    background-color: yellowgreen;
    width: 100%;
    box-sizing: border-box;
    height: 7%;

    display: flex;
    justify-content: center;
    align-items: center;
} */

.settings_row {
    margin-left: 40px;
    margin-right: 40px;
}

.page_container {
    margin-top: 30px;
}

.event_container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
}

.event_container>img {
    width: 170px;
    height: 107px;
}


/* 알림 설정 CSS */
#push_table {
    border-color: white;
    margin-left: 10px;
    margin-right: 10px;
}

#push_table>thead>tr>th {
    border-style: none;
    font-size: 24px;
    font-weight: 600;
}

#push_table>tbody>tr>td {
    border-style: none;
    font-size: 16px;
}

#push_table>:not(:last-child)>:last-child>* {
    border-bottom-color: white;
}

#pushButton {
    width: 130px;
    height: 38px;
    text-align: center;
    font-size: 16px;
    font-weight: 500;
    text-transform: capitalize;
    line-height: 18px;
    color: white;
    background-color: #fc8049;
    border-radius: 12px;

    float: right;
}

#pushButton:hover {
    color: #fc8049;
    background-color: #FFFFFF;
    animation-name: elementor-animation-pulse-grow;
    animation-duration: 0.3s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

/* 고객센터 아코디언 FAQ */
.accordion-menu {
    width: 100%;
    background: #fff;
    border-radius: 4px;
    padding-left: 20px;
    padding-right: 20px;
}

.accordion-menu li.open .dropdownlink {
    color: #fc8049;
}

.accordion-menu li.open .dropdownlink .fa-chevron-down {
    transform: rotate(180deg);
}

.accordion-menu li:last-child .dropdownlink {
    border-bottom: 0;
}

.dropdownlink {
    cursor: pointer;
    display: block;
    padding: 15px 15px 15px 15px;
    font-size: 18px;
    border-bottom: 1px solid #ccc;
    color: #212121;
    position: relative;
    transition: all 0.4s ease-out;
}

.dropdownlink i {
    position: absolute;
    top: 17px;
    left: 16px;
}

.dropdownlink .fa-chevron-down {
    right: 12px;
    left: auto;
}

.submenuItems {
    display: none;
    background: #fc8049;
}

.submenuItems li {
    border-bottom: 1px solid #B6B6B6;
    display: block;
    color: white;
    padding: 12px 12px 12px 28px;
    transition: all 0.4s ease-out;
    font-size: 16px;
}

/* 고객센터 아이콘 배너 CSS */
.settings_faq_items {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-bottom: 17px;
    gap: 20px;
}

.settings_faq_items>a>img {
    border: .0625rem solid #dadce0;
    border-radius: .5rem;
}

.settings_faq_items>a>img:hover {
    box-shadow: 0 1px 3px 0 rgb(60 64 67 / 30%), 0 4px 8px 3px rgb(60 64 67 / 15%);
}



/* 모달창 CSS */
.modal-body {
    position: relative;
    flex: 1 1 auto;
    padding: 10px;
}

.modal-content {
    border: 0;
    border-radius: 20px;
    color: #333;
}

.modal-header {
    padding: 30px 30px 0px 30px;
    /* border-bottom: 1px solid #e5e5e5; */
    border: 0;
}

.modal-title {
    font-size: 24px;
    font-weight: 600;
}

.modal-footer {
    padding: 20px;
    text-align: right;
    /* border-top: 1px solid #e5e5e5; */
    border: 0;
}


/* 모달창 내부 td 관련 CSS */
#myModalLabel {
    font-size: 20px;
}


.today_result_short {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    padding: 25px;
}

.commentTitle {
    font-size: 18px;
    text-align: right;
}

#loading {
    width: 80px;
    height: 80px;
}

.label-table {
    margin-top: 20px;
    margin-bottom: 80px;
    color: white;
    font-size: 18px;
    font-weight: 500;
}

.label-table>table>tbody>tr>td {
    color: white;
    font-size: 18px;
    font-weight: 500;
    padding: 15px;
}

#camSave {
    background-color: #fc8049;
    border-color: #fc8049;
    border-radius: 9px;
}

#camSave:hover {
    background-color: #d86d3f;
    border-color: #d86d3f;
}

.btn-secondary {
    border-radius: 9px;
}

#cam_table>:not(caption)>*>* {
    padding: 5px 30px 10px 30px;
    ;
    background-color: var(--bs-table-bg);
    border-bottom-width: 1px;
    box-shadow: inset 0 0 0 9999px var(--bs-table-accent-bg);
    font-size: 16px;
    font-weight: 500;
}

#cam_table>tbody>tr>td {
    border-style: none;
    font-size: 16px;
}

#camLabel1 {
    font-weight: 500;
    font-size: 16px;
}

#camLabel2 {
    font-weight: 500;
    font-size: 16px;
}

#camLabel3 {
    font-weight: 500;
    font-size: 16px;
}

#camLabel4 {
    font-weight: 500;
    font-size: 16px;
}

#cam_title {
    font-size: 20px;
    font-weight: 500;
    color: black;
    padding: 0;
    float: left;
}

#camId {
    text-align: center;
}

html:first-child select {
    height: 100%;
    padding-right: 6px;
}

#camSelectCont {
    display: flex;
    justify-content: center;
    align-items: center;
}

#camSelect {
    width: 100%;
    font-size: 14px;
}

#camTitleTd{
    padding: 30px 30px 10px 30px;
}

#user_table>:not(caption)>*>* {
    padding: 5px 30px 10px 30px;
    ;
    background-color: var(--bs-table-bg);
    border-bottom-width: 1px;
    box-shadow: inset 0 0 0 9999px var(--bs-table-accent-bg);
    font-size: 16px;
    font-weight: 500;
}

#user_table>tbody>tr>td {
    border-style: none;
    font-size: 16px;
}

.userTitle {
    text-align: left;
}

#userSave {
    background-color: #fc8049;
    border-color: #fc8049;
    border-radius: 9px;
}

#userSave:hover {
    background-color: #d86d3f;
    border-color: #d86d3f;
}

#activity_table>:not(caption)>*>* {
    padding: 5px 30px 10px 30px;
    ;
    background-color: var(--bs-table-bg);
    border-bottom-width: 1px;
    box-shadow: inset 0 0 0 9999px var(--bs-table-accent-bg);
    font-size: 16px;
    font-weight: 500;
}

#activity_table>tbody>tr>td {
    border-style: none;
    font-size: 16px;
}

#activity_title {
    font-size: 20px;
    font-weight: 500;
    color: black;
    padding: 0;
    float: left;
}

#activitySave {
    background-color: #fc8049;
    border-color: #fc8049;
    border-radius: 9px;
}

#activitySave:hover {
    background-color: #d86d3f;
    border-color: #d86d3f;
}

#resetSave {
    background-color: #fc8049;
    border-color: #fc8049;
    border-radius: 9px;
    width: 111px;
}

#resetSave:hover {
    background-color: #d86d3f;
    border-color: #d86d3f;
}


@media (max-width: 1400px) {
    .settings_content1_notice {
        box-sizing: border-box;
        background-color: white;
        height: 75%;
        margin-bottom: 15px;
        box-shadow: 2px 2px 2px 2px rgb(230 230 230);
        display: flex;
        flex-direction: column;
    }

    .settings_content1_notice p {
        font-size: 20px;
        font-weight: 600;
        color: black;
        padding: 15px;
    }

    .settings_faq_items>a>img {
        width: 160px;
    }
}

#pushSpace1 {
    padding: 0px 20px 0px;
}

#pushSpace2 {
    padding: 0px 20px 0px;
}

#pushSpace3 {
    padding: 0px 20px 0px;
}

#pushTitle {
    padding: 20px;
}