#full_nav {
    position: fixed;
    top: 50%;
    right: 40px;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
    z-index: 10
}

#full_nav ul li {
    display: block;
    text-align: right;
    margin-bottom: 15px;
    position: relative;
    padding-right: 40px
}

#full_nav ul li.sc8 {
    margin-top: 50px
}

#full_nav ul li.sc8:after {
    display: none
}

#full_nav ul li:last-child {
    margin-bottom: 0
}

#full_nav ul li+li:after {
    content: "";
    display: block;
    width: 1px;
    height: 23px;
    background: #cbcdd1;
    position: absolute;
    right: 4px;
    bottom: 14px
}

#full_nav ul li a {
    font-size: 14px;
    letter-spacing: .1px;
    font-family: "Montserrat", "Noto Sans KR";
    font-weight: 600;
    color: rgba(0, 0, 0, 0.6);
    display: inline-block;
    line-height: 14px
}

#full_nav ul li a:after {
    content: "";
    display: block;
    width: 9px;
    height: 9px;
    border: 2px solid #77787b;
    border-radius: 50%;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    position: absolute;
    right: 0;
    top: 50%;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%)
}

#full_nav ul li.on a,
#full_nav ul li a:hover {
    color: #fc4513
}

#full_nav .full_nav li.on a:before {
    content: "";
    display: block;
    width: 41px;
    height: 41px;
    position: absolute;
    top: 50%;
    right: -15px;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
    z-index: 10
}

#full_nav .full_nav li.on:nth-child(1) a:before {
    background: url(/img/nav_icon1.png) no-repeat center;
    background-size: 100%;
}

#full_nav .full_nav li.on:nth-child(2) a:before {
    background: url(/img/nav_icon2.png) no-repeat center;
    background-size: 100%;
}

#full_nav .full_nav li.on:nth-child(3) a:before {
    background: url(/img/nav_icon3.png) no-repeat center;
    background-size: 100%;
}

#full_nav .full_nav li.on:nth-child(4) a:before {
    background: url(/img/nav_icon4.png) no-repeat center;
    background-size: 100%;
}

#full_nav .full_nav li.on:nth-child(5) a:before {
    background: url(/img/nav_icon5.png) no-repeat center;
    background-size: 100%;
}

#full_nav .full_nav li.on:nth-child(6) a:before {
    background: url(/img/nav_icon6.png) no-repeat center;
    background-size: 100%;
}