body {
    background-color: #f1f1f1;
}

#contentsV {
    width: calc(100% - 90px);
    box-sizing: border-box;
    margin-left: 90px;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* 운동 영상 카테고리 CSS */
#videoCont1 {
    margin: 60px;
    width: 85%;
    display: flex;
    flex-direction: column;
}

.videoCont1_title {
    font-size: 25px;
    font-weight: 600;
    margin-bottom: 30px;
}

.videoCont1_title p {
    color: #333333;
    border-bottom: 2px solid #333;
    width: 40%;
}

.video_list_grid1 {
    display: flex;
    justify-content: space-between;
    flex-flow: wrap;
}

.video_imgc {
    width: 220px;
    height: 127px;
    border: none;
    border-radius: 12px;
    box-shadow: 0 5px 15px -7px rgba(0,0,0,1);
    margin: 10px;
}

.video_imgc:hover {
    filter: opacity(0.5);
}


/* 운동 영상 리스트 CSS */
#videoCont2 {
    margin: 60px;
    width: 85%;
    display: flex;
    flex-direction: column;
}

.videoCont2_title {
    font-size: 25px;
    font-weight: 600;
    margin-bottom: 30px;
}

.videoCont2_title p {
    color: #333333;
    border-bottom: 2px solid #333;
    width: 40%;
}

.video_list_grid2 {
    display: flex;
    justify-content: space-between;
    flex-flow: wrap;
}

.video_badge {
    color: #333333;
    font-weight: 500;
    font-size: 16px;
}

.video_list_grid2 > div > div {
    /* background-color: white; */
}

.video_img {
    width: 280px;
    height: 158px;
    border: none;
}

.thumb_title {
    margin-top: 5px;
    margin-bottom: 25px;
}